.Home {
    box-sizing: border-box;
    font-family: Handjet;
    padding-top: 350px;
}
.first-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 1px solid black; */
    margin-left: 50px;
    margin-right: 50px;
    min-height: calc(100vh - 350px);
    max-height: calc(100vh - 350px);
}
.first-left {
    flex: 1;
    display: flex;
    align-items: flex-start;
}
.first-left h1 {
    color: #262626;
    font-size: 96px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 24px 0;
    text-align: left;
    line-height: 90%;
    letter-spacing: -3px;

}
.first-right h1 {
    color: #262626;
    font-size: 128px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    line-height: 90%;
    letter-spacing: -3px;
    margin: 0;

}
.Home-right h1:last-child {
    margin-bottom: 0;
}
.second {
    min-height: 100vh;
    /* border: 1px solid black; */
    margin-left: 50px;
    margin-right: 50px;
}
.second h1 {
    font-size: 96px;
    font-weight: 400;
    margin: 0;
}
.third {
    /* border: 1px solid black; */
    margin-left: 50px;
    margin-right: 50px;
}
.third h1 {
    font-size: 96px;
    font-weight: 400;
    margin: 0;
}
.third-right {
    display: flex;
    justify-content: flex-end;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .Home {
        padding-top: 100px;
    }

    .first-columns {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        min-height: auto;
        max-height: none;
        gap: 30px;
    }

    .first-left h1 {
        font-size: 64px;
        letter-spacing: -3px;
        line-height: 90%;
        margin-bottom: 0;
    }

    .first-right h1 {
        font-size: 128px;
        letter-spacing: -3px;
    }

    .second {
        margin-left: 10px;
        margin-right: 10px;
        min-height: auto;
        margin-top: 60px;
    }

    .second h1 {
        font-size: 64px;
    }

    .third {
        margin-left: 10px;
        margin-right: 10px;
    }

    .third h1 {
        font-size: 64px;
    }

    .third-right {
        justify-content: flex-start;
    }
}