@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rock+Salt&display=swap');

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 50px 0px 0px 50px;
  display: flex;
  align-items: center;
  transition: transform 0.6s ease, opacity 0.6s ease;
  /* keep navbar above content but under transition overlay */
  z-index: 10000;
  background: transparent;
  backdrop-filter: blur(6px);
}

/* When scrolling down */
.Navbar.Navbar--hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.h1 {
    font-family: Handjet;
    font-weight: 400;
    font-size: 128px;
    line-height: auto;
    text-decoration: none; /* Dont forget ARI its remove underline of LINK! */
    color: inherit;
    margin-right: 490px;
    
}
.links a {
  font-family: Handjet;
  font-weight: 300;
  text-decoration: none;
  color: inherit;
  font-size: 128px;
  letter-spacing: -6px;
  margin-right: 11px;
  text-transform: uppercase;
  color: hsl(0, 0%, 30%);
}
.links a:hover {
  color: hsl(0, 0%, 0%);
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .Navbar {
    padding: 20px 16.5px 0px 10px;
    justify-content: space-between;
  }

  .h1 {
    font-size: 48px;
    letter-spacing: -3px;
    line-height: normal;
    margin-right: 0;
  }

  .links {
    display: none;
  }

  .Navbar::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('/Icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}